#contactform {
  margin:0 auto;
  width:80%;
  }
  
  #content {
  background:black;
  color: white;
  border:solid 1px #708090;
  border-radius:15px;
  height:100%;
  margin:50px auto;
  overflow:auto;
  padding:20px;
  width:80%;
  }
  
  #formsubmit {
  background:#000;
  border:solid 1px #708090;
  border-radius:15px;
  color:#708090;
  display:block;
  margin:5px auto;
  padding:5px 15px;
  text-align:center;
  width:85px;
  }
  
  #formsubmit:hover {
  cursor:pointer;
  }
  
  #main {
  flex:1;
  }
  
  #nameinput {
  border-radius:15px 15px 0 0;
  }
  
  * {
  box-sizing:border-box;
  }
  
  .contact-form {
  background:#000;
  border:solid 1px #708090;
  color:#FFF;
  display:block;
  margin:0 auto;
  padding:10px;
  width:80%;
  }
  
  .contact-form:focus {
  border:#FFF 1px solid;
  outline:none;
  }
  
  .nav {
  background-color:#000;
  list-style-type:none;
  margin:0;
  overflow:hidden;
  padding:0;
  }
  
  .nav h3 {
  color:#FFF;
  padding:4px 0;
  position:absolute;
  right:13px;
  }
  
  .nav li {
  float:left;
  }
  
  .navlink {
  color:#FFF;
  display:block;
  padding:10px 13px;
  text-align:center;
  text-decoration:none;
  }
  
  .navlink:hover {
  background-color:#ADD8E6;
  color:#000;
  text-decoration:none;
  }
  
  .pageheader {
  font-weight:bold;
  margin:40px auto;
  }
  
  body {
  background:#ADD8E6;
  display:flex;
  flex-direction:column;
  min-height:100vh;
  }
  
  footer {
  background-color:#000;
  height:40px;
  margin-top:auto;
  width:100%;
  }
  
  h3:hover,h5:hover {
  cursor:default;
  }
  
  h5 {
  font-size:35px;
  }
  
  html {
  height:100%;
  }
  
  img {
  border-radius:15px;
  float:left;
  margin-right:20px;
  width:30%;
  }
  
  textarea.contact-form {
  border-radius:0 0 15px 15px;
  min-height:100px;
  }

  div.portfoliolinks {
    width: 80%;
    background-color: black;
    border:solid 1px #708090;
    margin: 0 auto;
    padding: 10px;
    border-radius: 15px;
    color: white;
  }

  .link:hover {
    cursor: pointer;
  }

  .link {
    display: block;
    color: white;
    text-decoration: none;
  }

  @media only screen and (max-width: 400px){
    .nav li {
      display: block;
      width: 100%;
      }

    .nav h3 {
      color:#FFF;
      padding:4px 0;
      display: block;
      width: 100%;
      position: static;
      margin: 0 auto;
      text-align: center;
      }

    body {
      min-width: 300px;
    }

      
  }